<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>SMORE - {% block title %}Welcome!{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        {{ encore_entry_link_tags('app') }}
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% include 'partials/navbar.html.twig' with { 'app': app } %}

        <div class="container">
            {% block body %}{% endblock %}
        </div>

        {{ encore_entry_script_tags('app') }}
        {% block javascript %}{% endblock %}

    </body>
</html>
