body {
    background-color: lightgray;
}

/*** search modal ***/
#globalSearchModal {
    background-color: transparent;
    box-shadow: none;
}

#globalSearchModal input {
    font-size: 3rem;
    padding-bottom: 0.5rem;
}

#globalSearchModal input[type=text]:focus {
    border-bottom: 1px solid #c8e6c9;
    box-shadow: 0 1px 0 0 #c8e6c9;
}

#globalSearchModal label {
    font-size: 1.5rem;
    line-height: 1rem;
}

#globalSearchModal .prefix {
    font-size: 3rem;
}
