<div id="globalSearchModal" class="modal" data-controller="searchModal">
    <div class="modal-content">
        <form>
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix medium teal-text text-lighten-4">search</i>
                    <input type="text" name="query" id="query" class="white-text" />
                </div>
            </div>
        </form>
    </div>
</div>