{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}

    <div class="row">
        <div class="col offset-s3 s6 card-panel ">

            <h3>Please sign in</h3>
            <form method="post">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />
                <div class="row">
                    <div class="input-field col s12">
                        <input type="email" value="{{ last_username }}" name="email" id="email" class="validate" required autofocus>
                        <label for="email">Email</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input type="password" name="password" id="password" class="validate" required>
                        <label for="password">Password</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <label>
                            <input type="checkbox" name="_remember_me">
                            <span>Remember me</span>
                        </label>
                    </div>
                    <div class="input-field col s6 right-align">
                        <a href="{{ path('register') }}" class="btn-flat">Register</a>
                        <button class="btn btn-lg btn-primary" type="submit">Sign in</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

{% endblock %}
